/* General Styles */
body {
    margin: 0;
    padding: 20px;
    background-color: black;
    color: white;
    font-family: "Montserrat", monospace;
    font-size: clamp(1.5rem, 2vw, 2rem);
}

/* Console Container */
#console {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

/* Output Box */
#output {
    width: 100%;
    max-width: 600px;
    min-height: 300px;
    background: black;
    color: white;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    padding: 10px;
    overflow-y: auto;
    position: relative;
    border: 1px solid black; /* Invisible border */
}

/* Sticky Navigation */
#navigation {
    position: sticky;
    top: -10px;
    right: -10px;
    display: flex;
    gap: 10px;
}

#navigation a {
    color: #1DB954;
    text-decoration: none;
    font-family: "Montserrat", monospace;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid black; /* Invisible border */
}

#navigation a:hover {
    background-color: #1DB954;
    color: black;
}

#navigation a:focus {
    outline: none;
}

/* Input Box */
#input, #artist-name {
    color: #1DB954;
    background: black;
    outline: none;
    width: 100%;
    max-width: 600px;
    font-family: "Montserrat", monospace;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    border: 1px solid black; /* Invisible border */
    padding: 10px;
}

/* Terminal Modal */
.terminal-modal {
    position: fixed;
    width: 100%;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 20px;
    font-family: "Montserrat", monospace;
    border: 1px solid #1DB954; 
}

.terminal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-title {
    color: #1DB954;
    margin: 0;
    font-size: clamp(1.5rem, 2vw, 2rem);
}

/* Textarea */
textarea {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: "Montserrat", monospace;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    resize: none;
    border: 1px solid black; /* Invisible border */
}

/* Buttons */
button {
    background: black;
    color: #1DB954;
    padding: 5px 10px;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    cursor: pointer;
    font-family: "Montserrat", monospace;
    border: 1px solid black; /* Invisible border */
}

button:hover {
    background: #1DB954;
    color: black;
}

/* Error and Hidden Elements */
.error {
    color: red;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    margin-top: 5px;
}

.hidden {
    display: none;
}

#header-title {
    position: sticky;
    text-align: center;
    margin: 100px 0;
    font-size: 2em;
    font-family: "Montserrat", monospace;
    color: white;
    border: 1px solid black; /* Invisible border */
}

/* Request Artist & Report Issue */
.request-artist, .report-issue {
    font-family: "Montserrat", monospace;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    padding: 5px 10px;
    background: black;
    color: #1DB954;
    border: 1px solid black; /* Invisible border */
}

.request-artist:hover, .report-issue:hover {
    background: #1DB954;
    color: black;
}